
*{
    text-align: center;
    padding: 15 px;
}
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto; 
}


header {
    border: 1px solid rgb(79, 56, 56);
    background-color: darkolivegreen; 
    text-align: center;
    margin: 0 auto;
    color: white
}

#hero {
    width: 1100px; 
    margin: 0px auto; 
}

#profile-img {
    margin: 10px auto;
    right: 30%
}

nav ul li {
    float:left;
    list-style: none;
    margin: 10px;
    height: 25 px;
    background: white; 
    border-bottom: 2px solid black;
    padding-left: 500 px;
    }

.clearfix{
    clear: both;
}
